<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Enter Secret Password To Join Membership</h1>
  <form action="/membership" method="POST">
    <label for="secret_password">Secret Password </label>
    <input id="secret_password" name="secret_password"  type="password" />
    <button> Submit </button>
  </form>
</body>
</html>